* {
    margin: 0px;
  }
  body {
background-color: #F4F4F4;
  }
  .main-login {
    width: 58%;
    height: 499px;
    background-color: rgb(255, 255, 255, 0.8);
    margin-left: 271px;
    margin-top: 67px;
    border-radius: 10px;
    display: flex;
  }
  .register {
    height: 499px;
    background-color: rgb(255, 255, 255, 0.7);
    width: 50%;
    display: inline-block;
    /* border-radius: 10px; */
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: 2px solid rgb(128, 128, 128, 0.5);
  }
  .login {
    height: auto;
    background-color: rgb(255, 255, 255, 0.7);
    width: 50%;
    border-radius: 10px;
    margin: 0 auto;
  }
  .register-heading {
    margin: 0 auto;
    font-family: system-ui;
    /* margin-left: 140px; */
    margin-top: 48px;
    font-size: 35px;
    padding-top: 30px;
    width: 13%;
  }
  
  .border-top {
    border-top: 2px solid rgb(128, 128, 128, 0.4);
    width: 33%;
    margin-left: 129px;
    margin-top: 6px;
  }
  .border-top-login {
    border-top: 2px solid rgb(128, 128, 128, 0.4);
    width: 33%;
    margin-left: 117px;
    margin-top: 6px;
  }
  
  label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
  }
  input {
    height: 39px;
    width: 100%;
    margin-top: 15px;
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(128, 128, 128, 0.4);
    background-color: rgb(255, 255, 255, 0.1);
  }
  input:focus {
    border-bottom: 1px solid black;
  }
  button {
   
  }
  
  .login-form > div {
    margin: 0 auto;
    width: 81%;
  }
  .login-form{
    padding-bottom: 7%;
  }

.login-a{
  display: block;
  height: 47px;
  width: 100%;
  margin-top: 25px;
  border-radius: 7px;
  font-size: 18px;
  background-color: #4874C3;
  color: white;
  border: none;
  cursor: pointer;
}






/* dashboard  */

.dashboard {
  background-color: #f4f4f4;
}
.header-fixed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px #ccc;
  padding: 20px 40px;
  height: 80px;
  color: #ffffff;
  box-sizing: border-box;
  top: -100px;

  -webkit-transition: top 0.3s;
  transition: top 0.3s;
}

.header-fixed .header-limiter {
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;
}

/*	The header placeholder. It is displayed when the header is fixed to the top of the
	browser window, in order to prevent the content of the page from jumping up. */

.header-fixed-placeholder {
  height: 80px;
  display: none;
}

/* Logo */

.header-fixed .header-limiter h1 {
  float: left;
  font: normal 28px Cookie, Arial, Helvetica, sans-serif;
  line-height: 40px;
  margin: 0;
}

.header-fixed .header-limiter h1 span {
  color: #5383d3;
}

/* The navigation links */

.header-fixed .header-limiter a {
  color: #ffffff;
  text-decoration: none;
}

.header-fixed .header-limiter nav {
  font: 16px Arial, Helvetica, sans-serif;
  line-height: 40px;
  float: right;
}

.header-fixed .header-limiter nav a {
  display: inline-block;
  padding: 0 5px;
  text-decoration: none;
  color: #ffffff;
  opacity: 0.9;
}

.header-fixed .header-limiter nav a:hover {
  opacity: 1;
}

.header-fixed .header-limiter nav a.selected {
  color: #608bd2;
  pointer-events: none;
  opacity: 1;
}

/* Fixed version of the header */

body.fixed .header-fixed {
  padding: 10px 40px;
  height: 50px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

body.fixed .header-fixed-placeholder {
  display: block;
}

body.fixed .header-fixed .header-limiter h1 {
  font-size: 24px;
  line-height: 30px;
}

body.fixed .header-fixed .header-limiter nav {
  line-height: 28px;
  font-size: 13px;
}

/* Making the header responsive */

@media all and (max-width: 600px) {
  .header-fixed {
    padding: 20px 0;
    height: 75px;
  }

  .header-fixed .header-limiter h1 {
    float: none;
    margin: -8px 0 10px;
    text-align: center;
    font-size: 24px;
    line-height: 1;
  }

  .header-fixed .header-limiter nav {
    line-height: 1;
    float: none;
  }

  .header-fixed .header-limiter nav a {
    font-size: 13px;
  }

  body.fixed .header-fixed {
    display: none;
  }
}
